body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}
.hologram-text{
    font-family: 'Arial', sans-serif;
    font-size: 4rem;
    color: #1606f7;
    position: relative;
    perspective: 1000px;
    animation: rotate 20s linear infinite;
}
.hologram-letter{
    position: relative;
    display: inline-block;
    transform-origin: center;
    animation: flicker 1s ease-in-out infinite, float 4s ease-in-out infinite alternate;
}
@keyframes flicker{
    0%, 100%{
        opacity:0.6;
    }
    50%{
        opacity: 1;
    }
}
@keyframes float{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}
@keyframes rotate{
    0%, 100%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
}
.hologram-navbar{
    background-color: #000;
    padding: 20px 0;
    text-align: center;
}
.hologram-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.hologram-navbar li{
    display: inline-block;
    margin: 0 15px;
}
.hologram-navbar a{
    color: #00ff00;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: color 0.3s;
}
.hologram-navbar a::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0, 255, 0,  0.5);
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    transition: width 0.3s;
}
.hologram-navbar a:hover{
    color: #fff;
}
.hologram-navbar a:hover::before{
    width: 100%;
}